:root {
  --bg-primary: hsl(0, 0%, 94%);
  /*#efefef*/
  --bg-secondary: hsl(120, 66%, 28%);
  /*#187718*/
  --bg-secondary-200: hsl(120, 66%, 40%);
  --bg-online: hsl(235, 93%, 51%);
  --text-color: #626262;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

a:hover {
  color: var(--bg-secondary-200);
  text-decoration: underline;
}

body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "poppins", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-secondary);
  padding: 1em 5%;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  max-height: 5em;
}

.logo {
  width: 12em;
  margin-right: 5em;
  display: block;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav-left li {
  list-style-type: none;
  display: inline-block;
}

.nav-left ul img {
  width: 2.5em;
  margin: 0 1em;
}

.nav-user-icon img {
  width: 2.5em;
  border-radius: 50%;
  cursor: pointer;
}

.search-box {
  background: var(--bg-primary);
  width: 20em;
  border-radius: 1.25em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

left .search-box img {
  width: 1.15em;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 0.7em;
  outline: none;
  border: 0;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: var(--bg-online);
  position: absolute;
  top: 0;
  right: 0;
}

/* main Page Content */

.container {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 5%;
}

.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 6em;
  align-self: start;
}

.right-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 6em;
  align-self: start;
  background: #fff;
  padding: 1.25em;
  border-radius: 4px;
  color: var(--text-color);
}

.main-content {
  /* position: sticky; */
  flex-basis: 47%;
}

/* Left Side bar */

.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 3em;
  color: var(--text-color);
  width: fit-content;
  gap: 1em;
}

.imp-links a img {
  width: 2em;
  /* margin-right: 1em; */
}

.imp-links a:last-child {
  color: var(--bg-secondary);
}

.imp-links {
  border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
  width: 4em;
  border-radius: 4px;
}

.shortcut-links p {
  margin: 2em 0;
  color: var(--text-color);
  font-weight: 700;
}

/* Right Side bar */

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0 1em;
}

.sidebar-title:first-of-type {
  margin: 0 0 1em;
}

.right-sidebar h4 {
  font-weight: 600;
  font-size: 1.25rem;
}

.sidebar-title a {
  text-decoration: none;
  color: var(--bg-secondary);
}

.event {
  display: flex;
  gap: 2em;
  font-size: 0.9em;
  margin-bottom: 1.25em;
}

.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  /* margin-right: 1em; */
  padding-top: 0.7em;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
  font-size: 0.8rem;
}

.event a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--bg-secondary);
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-secondary);
  color: #fff;
  font-size: 0.7rem;
  padding: 0.4em 0;
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 4px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
  gap: 1.25em;
}

.online-list .online img {
  width: 40px;
  border-radius: 50%;
}

.online-list .online {
  width: 40px;
  border-radius: 50%;
}

.online-list .online::after {
  top: unset;
  bottom: 0;
}

/* Main Content styling */

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.story img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  bottom: 10px;
  border: 5px solid var(--bg-secondary);
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(/images/status-1.png);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(/images/status-2.png);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(/images/status-3.png);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(/images/status-4.png);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(/images/status-5.png);
}

.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}

.write-post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 1.23em;
  color: var(--text-color);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
}

.user-profile p {
  margin-bottom: -5px;
  font-weight: 600;
  color: #626262;
}

.user-profile small {
  font-size: 12px;
}

.post-input-container {
  padding-left: 55px;
  padding-top: 20px;
}

.post-input-container textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}

.add-post-links {
  display: flex;
  gap: 2em;
  margin-top: 10px;
}

.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--text-color);
  font-size: 0.9rem;
}

.add-post-links a img {
  width: 20px;
}

.post-container {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  color: var(--text-color);
  margin: 1.25em 0;
  padding: 1.5em;
}

.user-profile span {
  font-size: 0.8rem;
  color: #9a9a9a;
}

.post-text {
  color: #9a9a9a;
  margin: 1em 0;
  font-size: 15px;
}

.post-text span {
  color: #626262;
  font-weight: 500;
}

.post-text a {
  color: var(--bg-secondary);
  text-decoration: none;
}

.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1em;
}

.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.activity-icons div img {
  width: 18px;
  margin-right: 0.7em;
}

.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
}

.post-profile-icon {
  display: flex;
  align-items: center;
}

.post-profile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.post-row a {
  color: #9a9a9a;
}

.load-more-btn {
  margin: auto;
  display: block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background-color: transparent;
  border-radius: 4px;
}

.footer {
  text-align: center;
  color: #9a9a9a;
  font-size: 0.8em;
  padding: 1em 0 2em;
}
